### Install pyspark, pandas

In [9]:
!pip install pyspark pandas

Requirement already satisfied: pyspark in ./venv/lib/python3.9/site-packages (3.5.1)
Requirement already satisfied: pandas in ./venv/lib/python3.9/site-packages (2.2.2)
Requirement already satisfied: py4j==0.10.9.7 in ./venv/lib/python3.9/site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: numpy>=1.22.4 in ./venv/lib/python3.9/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: pip install --upgrade pip

### Import pyspark

In [2]:
import pyspark

### Load sample dataset using Pandas
Get sample CSV file from [wsform](https://wsform.com/knowledgebase/sample-csv-files/)

In [16]:
import pandas as pd
pd.read_csv('country_full.csv')

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [ ]:
type(df_pyspark)

### Start a spark session

In [22]:
from pyspark.sql import SparkSession

In [23]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [24]:
spark

### Read a csv file
Get sample CSV file from [wsform](https://wsform.com/knowledgebase/sample-csv-files/)

In [29]:
df_pyspark = spark.read.csv('country_full.csv')

In [38]:
df_pyspark = spark.read.option('header', 'true').csv('country_full.csv')

In [39]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [40]:
df_pyspark.head(3)

[Row(name='Afghanistan', alpha-2='AF', alpha-3='AFG', country-code='004', iso_3166-2='ISO 3166-2:AF', region='Asia', sub-region='Southern Asia', intermediate-region=None, region-code='142', sub-region-code='034', intermediate-region-code=None),
 Row(name='Åland Islands', alpha-2='AX', alpha-3='ALA', country-code='248', iso_3166-2='ISO 3166-2:AX', region='Europe', sub-region='Northern Europe', intermediate-region=None, region-code='150', sub-region-code='154', intermediate-region-code=None),
 Row(name='Albania', alpha-2='AL', alpha-3='ALB', country-code='008', iso_3166-2='ISO 3166-2:AL', region='Europe', sub-region='Southern Europe', intermediate-region=None, region-code='150', sub-region-code='039', intermediate-region-code=None)]

In [41]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- alpha-2: string (nullable = true)
 |-- alpha-3: string (nullable = true)
 |-- country-code: string (nullable = true)
 |-- iso_3166-2: string (nullable = true)
 |-- region: string (nullable = true)
 |-- sub-region: string (nullable = true)
 |-- intermediate-region: string (nullable = true)
 |-- region-code: string (nullable = true)
 |-- sub-region-code: string (nullable = true)
 |-- intermediate-region-code: string (nullable = true)

### PySpark DataFrames
- Reading dataset
- checking the datatypes of column
- selecting columns and indexing
- check describe option similar to pandas
- adding columns 
- dropping columns 
- renaming columns

In [46]:
## read dataset
df_pyspark = spark.read.option('header', 'true').csv('country_full.csv', inferSchema=True)

In [47]:
### check the schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- alpha-2: string (nullable = true)
 |-- alpha-3: string (nullable = true)
 |-- country-code: integer (nullable = true)
 |-- iso_3166-2: string (nullable = true)
 |-- region: string (nullable = true)
 |-- sub-region: string (nullable = true)
 |-- intermediate-region: string (nullable = true)
 |-- region-code: integer (nullable = true)
 |-- sub-region-code: integer (nullable = true)
 |-- intermediate-region-code: integer (nullable = true)

In [49]:
## Get columns names 
df_pyspark.columns

['name',
 'alpha-2',
 'alpha-3',
 'country-code',
 'iso_3166-2',
 'region',
 'sub-region',
 'intermediate-region',
 'region-code',
 'sub-region-code',
 'intermediate-region-code']

In [52]:
## selecting columns
df_pyspark.select(['name', 'country-code', 'region']).show()

+-------------------+------------+--------+
|               name|country-code|  region|
+-------------------+------------+--------+
|        Afghanistan|           4|    Asia|
|      Åland Islands|         248|  Europe|
|            Albania|           8|  Europe|
|            Algeria|          12|  Africa|
|     American Samoa|          16| Oceania|
|            Andorra|          20|  Europe|
|             Angola|          24|  Africa|
|           Anguilla|         660|Americas|
|         Antarctica|          10|    NULL|
|Antigua and Barbuda|          28|Americas|
|          Argentina|          32|Americas|
|            Armenia|          51|    Asia|
|              Aruba|         533|Americas|
|          Australia|          36| Oceania|
|            Austria|          40|  Europe|
|         Azerbaijan|          31|    Asia|
|            Bahamas|          44|Americas|
|            Bahrain|          48|    Asia|
|         Bangladesh|          50|    Asia|
|           Barbados|          52|Americas|
+-------------------+------------+--------+
only showing top 20 rows

In [54]:
## check data types
df_pyspark.dtypes

[('name', 'string'),
 ('alpha-2', 'string'),
 ('alpha-3', 'string'),
 ('country-code', 'int'),
 ('iso_3166-2', 'string'),
 ('region', 'string'),
 ('sub-region', 'string'),
 ('intermediate-region', 'string'),
 ('region-code', 'int'),
 ('sub-region-code', 'int'),
 ('intermediate-region-code', 'int')]

In [56]:
## check describe option 
df_pyspark.describe().show()

24/07/27 09:21:49 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-------------+-------+-------+------------------+-------------+-------+--------------------+-------------------+-----------------+------------------+------------------------+
|summary|         name|alpha-2|alpha-3|      country-code|   iso_3166-2| region|          sub-region|intermediate-region|      region-code|   sub-region-code|intermediate-region-code|
+-------+-------------+-------+-------+------------------+-------------+-------+--------------------+-------------------+-----------------+------------------+------------------------+
|  count|          249|    249|    249|               249|          249|    248|                 248|                107|              248|               248|                     107|
|   mean|         NULL|   NULL|   NULL|433.83534136546183|         NULL|   NULL|                NULL|               NULL|65.95161290322581|179.86693548387098|        31.7196261682243|
| stddev|         NULL|   NULL|   NULL|252.98044557381454|         NULL|   NULL|                NULL|               NULL|67.34783175969469|138.33416984258199|      111.00032248742234|
|    min|  Afghanistan|     AD|    ABW|                 4|ISO 3166-2:AD| Africa|Australia and New...|          Caribbean|                2|                15|                       5|
|    max|Åland Islands|     ZW|    ZWE|               894|ISO 3166-2:ZW|Oceania|      Western Europe|     Western Africa|              150|               419|                     830|
+-------+-------------+-------+-------+------------------+-------------+-------+--------------------+-------------------+-----------------+------------------+------------------------+

In [61]:
## adding columns in dataframe 
df_pyspark = df_pyspark.withColumn('city', df_pyspark['region'])

In [62]:
df_pyspark.show()

+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+--------+
|               name|alpha-2|alpha-3|country-code|   iso_3166-2|  region|          sub-region|intermediate-region|region-code|sub-region-code|intermediate-region-code|    city|
+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+--------+
|        Afghanistan|     AF|    AFG|           4|ISO 3166-2:AF|    Asia|       Southern Asia|               NULL|        142|             34|                    NULL|    Asia|
|      Åland Islands|     AX|    ALA|         248|ISO 3166-2:AX|  Europe|     Northern Europe|               NULL|        150|            154|                    NULL|  Europe|
|            Albania|     AL|    ALB|           8|ISO 3166-2:AL|  Europe|     Southern Europe|               NULL|        150|             39|                    NULL|  Europe|
|            Algeria|     DZ|    DZA|          12|ISO 3166-2:DZ|  Africa|     Northern Africa|               NULL|          2|             15|                    NULL|  Africa|
|     American Samoa|     AS|    ASM|          16|ISO 3166-2:AS| Oceania|           Polynesia|               NULL|          9|             61|                    NULL| Oceania|
|            Andorra|     AD|    AND|          20|ISO 3166-2:AD|  Europe|     Southern Europe|               NULL|        150|             39|                    NULL|  Europe|
|             Angola|     AO|    AGO|          24|ISO 3166-2:AO|  Africa|  Sub-Saharan Africa|      Middle Africa|          2|            202|                      17|  Africa|
|           Anguilla|     AI|    AIA|         660|ISO 3166-2:AI|Americas|Latin America and...|          Caribbean|         19|            419|                      29|Americas|
|         Antarctica|     AQ|    ATA|          10|ISO 3166-2:AQ|    NULL|                NULL|               NULL|       NULL|           NULL|                    NULL|    NULL|
|Antigua and Barbuda|     AG|    ATG|          28|ISO 3166-2:AG|Americas|Latin America and...|          Caribbean|         19|            419|                      29|Americas|
|          Argentina|     AR|    ARG|          32|ISO 3166-2:AR|Americas|Latin America and...|      South America|         19|            419|                       5|Americas|
|            Armenia|     AM|    ARM|          51|ISO 3166-2:AM|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|    Asia|
|              Aruba|     AW|    ABW|         533|ISO 3166-2:AW|Americas|Latin America and...|          Caribbean|         19|            419|                      29|Americas|
|          Australia|     AU|    AUS|          36|ISO 3166-2:AU| Oceania|Australia and New...|               NULL|          9|             53|                    NULL| Oceania|
|            Austria|     AT|    AUT|          40|ISO 3166-2:AT|  Europe|      Western Europe|               NULL|        150|            155|                    NULL|  Europe|
|         Azerbaijan|     AZ|    AZE|          31|ISO 3166-2:AZ|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|    Asia|
|            Bahamas|     BS|    BHS|          44|ISO 3166-2:BS|Americas|Latin America and...|          Caribbean|         19|            419|                      29|Americas|
|            Bahrain|     BH|    BHR|          48|ISO 3166-2:BH|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|    Asia|
|         Bangladesh|     BD|    BGD|          50|ISO 3166-2:BD|    Asia|       Southern Asia|               NULL|        142|             34|                    NULL|    Asia|
|           Barbados|     BB|    BRB|          52|ISO 3166-2:BB|Americas|Latin America and...|          Caribbean|         19|            419|                      29|Americas|
+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+--------+
only showing top 20 rows

In [66]:
## drop a column
df_pyspark = df_pyspark.drop('city')

In [67]:
df_pyspark.show()

+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
|               name|alpha-2|alpha-3|country-code|   iso_3166-2|  region|          sub-region|intermediate-region|region-code|sub-region-code|intermediate-region-code|
+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
|        Afghanistan|     AF|    AFG|           4|ISO 3166-2:AF|    Asia|       Southern Asia|               NULL|        142|             34|                    NULL|
|      Åland Islands|     AX|    ALA|         248|ISO 3166-2:AX|  Europe|     Northern Europe|               NULL|        150|            154|                    NULL|
|            Albania|     AL|    ALB|           8|ISO 3166-2:AL|  Europe|     Southern Europe|               NULL|        150|             39|                    NULL|
|            Algeria|     DZ|    DZA|          12|ISO 3166-2:DZ|  Africa|     Northern Africa|               NULL|          2|             15|                    NULL|
|     American Samoa|     AS|    ASM|          16|ISO 3166-2:AS| Oceania|           Polynesia|               NULL|          9|             61|                    NULL|
|            Andorra|     AD|    AND|          20|ISO 3166-2:AD|  Europe|     Southern Europe|               NULL|        150|             39|                    NULL|
|             Angola|     AO|    AGO|          24|ISO 3166-2:AO|  Africa|  Sub-Saharan Africa|      Middle Africa|          2|            202|                      17|
|           Anguilla|     AI|    AIA|         660|ISO 3166-2:AI|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|         Antarctica|     AQ|    ATA|          10|ISO 3166-2:AQ|    NULL|                NULL|               NULL|       NULL|           NULL|                    NULL|
|Antigua and Barbuda|     AG|    ATG|          28|ISO 3166-2:AG|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|          Argentina|     AR|    ARG|          32|ISO 3166-2:AR|Americas|Latin America and...|      South America|         19|            419|                       5|
|            Armenia|     AM|    ARM|          51|ISO 3166-2:AM|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|              Aruba|     AW|    ABW|         533|ISO 3166-2:AW|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|          Australia|     AU|    AUS|          36|ISO 3166-2:AU| Oceania|Australia and New...|               NULL|          9|             53|                    NULL|
|            Austria|     AT|    AUT|          40|ISO 3166-2:AT|  Europe|      Western Europe|               NULL|        150|            155|                    NULL|
|         Azerbaijan|     AZ|    AZE|          31|ISO 3166-2:AZ|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|            Bahamas|     BS|    BHS|          44|ISO 3166-2:BS|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|            Bahrain|     BH|    BHR|          48|ISO 3166-2:BH|    Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|         Bangladesh|     BD|    BGD|          50|ISO 3166-2:BD|    Asia|       Southern Asia|               NULL|        142|             34|                    NULL|
|           Barbados|     BB|    BRB|          52|ISO 3166-2:BB|Americas|Latin America and...|          Caribbean|         19|            419|                      29|
+-------------------+-------+-------+------------+-------------+--------+--------------------+-------------------+-----------+---------------+------------------------+
only showing top 20 rows

In [69]:
## Rename a column
df_pyspark = df_pyspark.withColumnRenamed('region', 'continent')

In [70]:
df_pyspark.show()

+-------------------+-------+-------+------------+-------------+---------+--------------------+-------------------+-----------+---------------+------------------------+
|               name|alpha-2|alpha-3|country-code|   iso_3166-2|continent|          sub-region|intermediate-region|region-code|sub-region-code|intermediate-region-code|
+-------------------+-------+-------+------------+-------------+---------+--------------------+-------------------+-----------+---------------+------------------------+
|        Afghanistan|     AF|    AFG|           4|ISO 3166-2:AF|     Asia|       Southern Asia|               NULL|        142|             34|                    NULL|
|      Åland Islands|     AX|    ALA|         248|ISO 3166-2:AX|   Europe|     Northern Europe|               NULL|        150|            154|                    NULL|
|            Albania|     AL|    ALB|           8|ISO 3166-2:AL|   Europe|     Southern Europe|               NULL|        150|             39|                    NULL|
|            Algeria|     DZ|    DZA|          12|ISO 3166-2:DZ|   Africa|     Northern Africa|               NULL|          2|             15|                    NULL|
|     American Samoa|     AS|    ASM|          16|ISO 3166-2:AS|  Oceania|           Polynesia|               NULL|          9|             61|                    NULL|
|            Andorra|     AD|    AND|          20|ISO 3166-2:AD|   Europe|     Southern Europe|               NULL|        150|             39|                    NULL|
|             Angola|     AO|    AGO|          24|ISO 3166-2:AO|   Africa|  Sub-Saharan Africa|      Middle Africa|          2|            202|                      17|
|           Anguilla|     AI|    AIA|         660|ISO 3166-2:AI| Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|         Antarctica|     AQ|    ATA|          10|ISO 3166-2:AQ|     NULL|                NULL|               NULL|       NULL|           NULL|                    NULL|
|Antigua and Barbuda|     AG|    ATG|          28|ISO 3166-2:AG| Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|          Argentina|     AR|    ARG|          32|ISO 3166-2:AR| Americas|Latin America and...|      South America|         19|            419|                       5|
|            Armenia|     AM|    ARM|          51|ISO 3166-2:AM|     Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|              Aruba|     AW|    ABW|         533|ISO 3166-2:AW| Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|          Australia|     AU|    AUS|          36|ISO 3166-2:AU|  Oceania|Australia and New...|               NULL|          9|             53|                    NULL|
|            Austria|     AT|    AUT|          40|ISO 3166-2:AT|   Europe|      Western Europe|               NULL|        150|            155|                    NULL|
|         Azerbaijan|     AZ|    AZE|          31|ISO 3166-2:AZ|     Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|            Bahamas|     BS|    BHS|          44|ISO 3166-2:BS| Americas|Latin America and...|          Caribbean|         19|            419|                      29|
|            Bahrain|     BH|    BHR|          48|ISO 3166-2:BH|     Asia|        Western Asia|               NULL|        142|            145|                    NULL|
|         Bangladesh|     BD|    BGD|          50|ISO 3166-2:BD|     Asia|       Southern Asia|               NULL|        142|             34|                    NULL|
|           Barbados|     BB|    BRB|          52|ISO 3166-2:BB| Americas|Latin America and...|          Caribbean|         19|            419|                      29|
+-------------------+-------+-------+------------+-------------+---------+--------------------+-------------------+-----------+---------------+------------------------+
only showing top 20 rows

### Pyspark Handling  Missing Values
- dropping columns based on NULL values
- dropping rows based on NULL values
- various parameter in dropping functionalities 
- handling missing values by mean, median and mode